@import './base.css';

#app {
  max-width: 1280px;
  /*height: 100vh;*/
  aspect-ratio: 16 / 9;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 95fr 5fr;
  gap: 1px;
  font-weight: normal;
}
